* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../img/bott.jpg);
}

/* 最上方的導覽列 */

.top {
    width: 100%;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
    display: flex;
    position: fixed;
    border-bottom: 2px solid black;
    z-index: 10;
}

.top img {
    margin-top: 20px;
    height: 50px;
    padding-bottom: 5px;

}


nav ul {
    width: 80%;
    display: flex;
    justify-content: space-around;
    margin-left: 40px;
    background-color: rgb(255, 255, 255);
    list-style: none;
    /* 移除項目符號 */


}

nav a {
    color: inherit;
    /* 移除超連結顏色 */
    display: block;
    /* 讓 <a> 填滿 <li> */
    font-size: 1.2rem;
    padding: 10px;
    text-decoration: none;
    /* 移除超連結底線 */
    font-weight: 900;
}

/* 滑鼠移到 <a> 時變成深底淺色 */
nav li:hover {
    background-color: rgb(255, 255, 255);
    color: #cc5200;
}

.inline-block-nav {
    text-align: center;
    font-size: 0;
    /* 移除 <li> 之間的空隙 */
}

.inline-block-nav>li {
    display: inline-block;
}

#container {
    width: 100%;
    max-width: 40rem;
    padding-top: 100px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 1.2em;
}

#container>h2 {
    align-self: center;
}

hr {
    border: 1.5px solid black;
}

.title {
    padding: 0.5em 0;
    font-weight: bold;
}

#date {
    display: flex;
    justify-content: space-evenly;
}

textarea {
    resize: none;
}

#people {
    display: flex;
    justify-content: space-evenly;
}

#people input {
    width: 3em;
}

input {
    font-size: 1em;
}

#rent {
    display: flex;
    gap: 10px;
    align-items: center;
}

#rent > div {
    font-size: 1.2em;
}

#rent > table td{
    width: 5em;
}

#to-top {
    position: fixed;
    right: 10px;
    bottom: 10px;
    width: 1.2em;
    height: 1.2em;
    font-size: 50px;
    padding: 10px;
    border-radius: 0.75em;
    background-color: #EFD9D9;
    cursor: pointer;
}

#to-top img {
    width: 100%;
}

.btn button {
    margin: 0 auto;
    display: block;
    font-size: 2em;
        /* 文字颜色 */
        color: #0099CC; 
        /* 清除背景色 */
        background: transparent; 
        /* 边框样式、颜色、宽度 */
        border: 2px solid #0099CC;
        /* 给边框添加圆角 */
        border-radius: 6px; 
        /* 字母转大写 */
        /* border: none; */
        color: black;
        padding: 16px 32px;
        text-align: center;
        /* display: inline-block; */
        font-size: 16px;
        /* margin: 4px 2px; */
        /* -webkit-transition-duration: 0.4s; /* Safari */
        margin-top: 20px;
     
}

.btn button:hover  {
    background-color: #0099CC;
    color: white;
    border-radius: 2rem;
  }
 

html {
    scroll-behavior: smooth;
}

footer {
    margin-top: 20px;
    line-height: 1.6;
    background-color: black;
    color: aliceblue;
    padding: 20px;
    border-bottom: 2px solid red;
}


.fin {
    width: 100%;
    height: 50px;
    background-color: black;
    text-align: center;
    margin: 0 auto;
    display: block;
    padding-top: 20px;
}

.fin p {
    color: aliceblue;
}